<div
  class="fixed inset-4 z-10 bg-slate-900 bg-opacity-90 rounded-xl overflow-y-auto p-2 flex flex-col items-center"
>
  <!-- list -->
  <button (click)="closeModal()" class="fixed top-0 right-0 p-4 m-8">
    <svg
      class="w-9 h-9 text-gray-800 dark:text-white"
      aria-hidden="true"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18 17.94 6M18 18 6.06 6"
      />
    </svg>
  </button>

  <div class="flex border-b border-gray-700 mt-12 mx-12">
    <button
      *ngFor="let tab of tabs"
      class="px-4 py-2 font-medium text-sm"
      [class.text-white]="isActiveTab(tab)"
      [class.text-gray-400]="!isActiveTab(tab)"
      [class.border-b-2]="isActiveTab(tab)"
      [class.border-white]="isActiveTab(tab)"
      (click)="setActiveTab(tab)"
    >
      {{ tab }}
    </button>
  </div>

  <!-- Content -->
  <div class="mt-12 max-h-[90vh] overflow-y-auto w-full">
    <ul
      *ngIf="activeTab === 'Backgrounds'"
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4 p-4"
    >
      <li *ngFor="let bg of listOfBgs; trackBy: trackByFn">
        <app-box-bg
          [image]="bg.image"
          [label]="bg.label"
          [video]="bg.video ? bg.video : ''"
          class="block h-full cursor-pointer transition-transform hover:scale-[1.02] active:scale-[0.98]"
          role="button"
          tabindex="0"
          (click)="selectBg(bg)"
        ></app-box-bg>
      </li>
    </ul>

    <div *ngIf="activeTab === 'Settings'">
      <app-settings-section-modal></app-settings-section-modal>
    </div>
  </div>
</div>
