<div class="flex gap-4">
  <button
    *ngFor="let mode of modes; let i = index"
    (click)="onSelect(mode)"
    type="button"
    class="px-4 md:py-2 border rounded-full transition-all border-white shadow-xl hover:shadow-2xl drop-shadow-2xl"
    [ngClass]="{
      'bg-white text-black': isSelected(mode),
      'bg-transparent text-white hover:bg-white hover:text-black': !isSelected(mode)
    }"
  >
    <span class="font-bold text-xl drop-shadow-3xl">
      {{ mode.label }}
    </span>
  </button>
</div>
