<div
  class="group flex flex-col cursor-pointer items-center justify-center rounded-xl shadow-xl hover:shadow-2xl hover:border-gray-300 min-w-16"
>
  <div class="relative overflow-hidden rounded-lg w-full">
    <ng-container *ngIf="image; else videoBlock">
      <img
        [src]="image"
        [srcset]="
          getOptimizedImage(image, 300) + ' 300w, ' + getOptimizedImage(image, 600) + ' 600w'
        "
        sizes="(max-width: 640px) 300px, 600px"
        alt="background"
        class="w-full h-40 object-cover rounded-lg"
        loading="lazy"
      />
    </ng-container>

    <ng-template #videoBlock>
      <video
        class="object-cover w-full h-40 rounded-lg"
        [poster]="getOptimizedVideo(video, 300) + '.jpg'"
        [src]="getOptimizedVideo(video, 300)"
        preload="metadata"
        autoplay
        loop
        muted
        playsinline
      ></video>
    </ng-template>
  </div>
  <p class="text-gray-400 group-hover:text-white font-medium text-center text-sm p-2">
    {{ label }}
  </p>
</div>
