/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Scrollbar general */
::-webkit-scrollbar {
  width: 12px;
}

/* Fondo del track */
::-webkit-scrollbar-track {
  background: #091032;
  border-radius: 10px;
}

/* Thumb (el "tirador") */
::-webkit-scrollbar-thumb {
  background-color: #e6e6e8;
  border-radius: 10px;
  border: 2px solid #030616;
}

/* Al pasar el ratón */
::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
}
